<main class="container">
 
  <div class="left-column">
    <!-- <img data-image="black" src="images/black.png" alt="">
    <img data-image="blue" src="images/blue.png" alt="">
    <img data-image="red" class="active" src="images/red.png" alt=""> -->
    <!-- <img [src]=selectedProductimg alt="Airpods" class="krishn img-responsive" style="margin-top: 400px; float: left;"> -->
    <img src="/assets/1.jpg" alt="Airpods" style="padding-top: 800px; ">

    <div class="krishn"></div>
  </div>
 
 
  <div class="right-column">
 
    <div class="product-description">
      <span>Earphones</span>
      <h1>Airpods</h1>
      <p>Automatically on, automatically connected. Easy setup for all your Apple devices. Quick access to Siri by saying “Hey Siri” or setting up double-tap. Double-tap to play or skip forward. Charges quickly in the case. Case can be charged with a Lightning connector. Rich, high-quality audio and voice. Seamless switching between devices.</p>
    </div>
 
   
    <div class="product-configuration">
 
      <!-- Product Color -->
      <div class="product-color">
        <span>Color</span>
 
        <div class="color-choose">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>
 
      </div>
 
      <!-- Cable Configuration -->
      <div class="cable-config">
        <span>Cable configuration</span>
 
        <div class="cable-choose">
          <button>Extend Warrenty</button>
          <button>Buy as a gift</button>
          <button>Report</button>
        </div>
 
        <a href="#">Check T&C</a>
      </div>
    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span>RS- 12,999 /-</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>
  </div>
<!-- </main> -->
