<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Product Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">About Product
                <span class="caret"></span>
            </button>
            <button type="button" class="btn btn-success">Add to Cart</button>
            <ul class="dropdown-menu">
                <li><a href="#">Description</a></li>
                <li><a href="#">T&C</a></li>
                <li><a href="#">Report</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="btn-group">
            Description
        </div>
    </div>
    <div class="col-xs-12">
        <div class="btn-group">
            Shipping details
        </div>
    </div>