<div id="container">	
	
    <div class="product-details">
      
    <h1>{{product.productName}}</h1>
    <hr>  
  
    <span class="hint-star star">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </span>
      
    
      <p class="information">{{product.productDescription}}</p>
           <div class="space"></div>
      
  <div class="control">
    
    <button class="btn">
      
     <span class="price">₹ {{product.productPrice}}</span>
     <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
     <span class="buy"  (click)="onBuy()">Buy Now</span>
   </button>  
  </div>
  </div>
    
    
  <div class="product-image">
    
    <img src={{product.productImageSource}} alt="{{product.productName}}">
    

  <div class="info">
    <h2>About Product</h2>
    <ul>
      <li><strong>Best Price: </strong>₹ {{product.productPrice}}</li>
      <li><strong>Product Quality </strong>4.6/5</li>
      <li><strong>Admin's Choice: </strong><i class="fa fa-check" aria-hidden="true"></i></li>
      <li><strong>Warrenty: </strong>1 Year</li>
      <li><strong>Replace in </strong>14 days</li>
      <li><strong>Shipping in:</strong>3-4 Business Days.</li>
    </ul>
  </div>
  </div>
  
  
  
  </div>
  
  
  