<div *ngIf="showSpinner" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<table style="width: 90%" align="center" id="cardTransaction">
    <tr>
        <th><a (click)="orderByTransactionId()">Transaction Id </a><i class="fa fa-angle-down"></i></th>
        <th><a (click)="orderByAmount()">Amount </a><i class="fa fa-angle-down"></i></th>
        <th><a (click)="orderByDate()">Date </a><i class="fa fa-angle-down"></i></th>
        <th><a (click)="orderByTenure()">Tenure </a><i class="fa fa-angle-down"></i></th>
        <th><a (click)="orderByNoOfEmisLeft()">No of Emi Left </a><i class="fa fa-angle-down"></i></th>
        <th><a (click)="orderByProductQuantity()">Product Quantity </a><i class="fa fa-angle-down"></i></th>
        <th>Address</th>
        <th>Name Of Product</th>
    </tr>
    <tr *ngFor='let t of status.transactions'>
        <td>{{t.transactionId}}</td>
        <td>{{t.amount}}</td>
        <td>{{t.transactionDate}}</td>
        <td>{{t.emiTenure}}</td>
        <td>{{t.noOfEmisLeft}}</td>
        <td>{{t.productQuantity}}</td>
        <td>{{t.shippingAddress}}</td>
        <td>{{t.productName}}</td>
    </tr>
</table>