<p>view-card-transactions works!</p>
<h1>{{status.status}}</h1>
<h1>{{status.message}}</h1>
<table *ngIf='status.status=="SUCCESS"'>
    <tr>
        <th>Trans Id</th>
        <th>Amount</th>
        <th>Address</th>
        <th>Date</th>
        <th>Tenure</th>
        <th>No of Emi Left</th>
        <th>Name Of Product</th>
        <th>product Quantity</th>
    </tr>
    <tr *ngFor='let t of status.transactions'>
        <td>{{t.transactionId}}</td>
        <td>{{t.amount}}</td>
        <td>{{t.shippingAddress}}</td>
        <td>{{t.transactionDate}}</td>
        <td>{{t.emiTenure}}</td>
        <td>{{t.noOfEmisLeft}}</td>
        <td>{{t.productName}}</td>
        <td>{{t.productQuantity}}</td>
    </tr>
</table>
<button *ngIf='status.status=="SUCCESS"' (click)="orderByDate()">Order By Date</button>
<button *ngIf='status.status=="SUCCESS"' (click)="orderByNoOfEmisLeft()">Order By Emis Left</button>
<button *ngIf='status.status=="SUCCESS"' (click)="orderByLowToHighAmount()">Order By Low To High Amount</button>
<button *ngIf='status.status=="SUCCESS"' (click)="orderByHighToLowAmount()">Order By High To Low</button>