

a {
  color: #000;
}

.panel {
  
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  
}


.card {
  font: 16px/1.5 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 425px;
  height: 270px;
  text-align: left;
  padding: 30px;
  margin-bottom: 50px;
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  background: url(/assets/card.PNG);
}
  .card__number {
    font-size: 30px;
    padding: 30px 0 15px;
    text-align: center;
  }

  .card__expiry-date {
    font-size: 14px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 17px;
  }

  .card__owner {
    text-align: left;
    padding-left: 25px;
    padding-bottom: 5px;
    font-size: 20px;
  }

  .card__logo {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 120px;
    height: 70px;
    background-color: black;
  }

  .card__strip {
    background: black;
    height: 50px;
    margin-bottom: 30px;
  }

  .card__strip2{
    background: whitesmoke;
    height: 30px;
    width: 60%;
  }

  .card__ccv {
    float: left;
    padding-left: 257px;
    color: white;
    line-height: 1.5;
    font-size: 20px;
  }

  .card {
    font-size: 16px;
    font-family: 'Source Code Pro';
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
  }

  .card {
    padding-left: 0;
    padding-right: 0;
  }

  #pay {
    border: 1.5px solid black;
    text-align: right;
  }

  #paybtn {
    background: #6675df;
    color: white;
    font-size: 22px;
    border-radius: 10px;
  }

  #paybtn:hover {
    background-color: darkgreen;
    width: calc(53%);
  }

  #paybtn:disabled {
    background: grey;
    color: white;
    font-size: 22px;
    border-radius: 10px;
  }

  #paybtn:hover:disabled {  
    width: calc(49.5%);
  }

  p.heading {
    padding-left: 50px;
    padding-top: 18px;
  }

  #success{
    background: green;
    color: white;
    height: 6%;
    padding-top: 13px;
    text-align: center;
  }

  #failure{
    background: red;
    color: white;
    height: 6%;
    padding-top: 13px;
    text-align: center;
  }

  progress{
    width: 50%;
    height: 30px;
  }