<div *ngIf="showSpinner" style="text-align: center;">
		<app-loading-spinner></app-loading-spinner>
	</div>
 Search: <input type="text" (keyup)='searchByName()' [(ngModel)]="search" placeholder="Search Name">
 <br>
 <br>
<table style="width: 90%" align="center" id="pendingCustomer">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
        <th>Mobile No</th>
        <th>Aadhar Card No</th>
        <th>Card Choosen</th>
        <th>Registration Date</th>
        <th>Validate</th>
        <th>Reject</th>
    </tr>
    <tr *ngFor='let c of pendingCustomersList'>
        <td>{{c.customerFirstName}}</td>
        <td>{{c.customerLastName}}</td>
        <td>{{c.customerEmail}}</td>
        <td>{{c.customerMobile}}</td>
        <td>{{c.customerAadharCard}}</td>
        <td>{{c.cardType}}</td>
        <td>{{c.registrationDate}}</td>
        <td *ngIf='c.customerId>0'><button (click)='validateCustomerAndIssueEmiCard(c.customerId)' style="background-color: yellowgreen; color: white;">Validate</button></td>
        <td *ngIf='c.customerId>0'><button (click)='rejectACustomer(c.customerId)' style="background-color: red; color: white;">Reject</button></td>
    </tr>
</table>