<div class="forgotpassword-title">
    <p>Forgot Password?</p>
    <h1>
        <p>Don't Worry Just Reset It!</p>
    </h1>

</div>

<form #forgotForm='ngForm'>

    <div class="forgotpassword-container">
        <label for="userLogin"><b>Enter Email ID</b></label> <span> {{status}}</span>
        <input type="text" name="userEmail" placeholder="Enter Email ID"
            [(ngModel)]="validateAnOtp.email" pattern="^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{1,3})+$" required>
            <span class="error">Invalid Email</span>
        <button [disabled]='!forgotForm.valid' (click)='forgotPassword()'>Reset Using Email</button>

        <div class="otpbtn" *ngIf='validEmail'>
            <label for="otp"><b>Enter OTP</b></label><br>
            <input type="text" name="otp" id="otp" placeholder="Enter OTP" (keypress)='isNumber($event,"otp",4)' minlength="5" [(ngModel)]="validateAnOtp.otp"
                >
            <button type="submit" (click)="checkOtp()">Submit OTP</button>
        </div>

    </div>
</form>

<div class="formdiv"></div>