* {
    box-sizing: border-box;
}

body,
html {
    font-family: Arial;
    padding: 10px;
    background-image: url(/assets/forgotpassword.jpg);
    background-size: 1070px 900px;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

.forgotpassword-title {
    padding-top: 5%;
    padding-right: 50px;
    float: right;
}


/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 100%;
    line-height: 1.5;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    clear: both;
}


/* Add padding to containers */

.forgotpassword-container {
    padding-right: 80px;
    float: right;
    width: 465px;
    clear: both;
}


/* Set a style for all buttons */

button {
    background-color: #827ffe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
    background-color: #403866;
}