* {
    box-sizing: border-box;
}

/* body,
html {
    height: 100%;
    font-family: Arial;
} */

.forgotpassword-title {
    padding-top: 7%;
    padding-right: 10%;
    float: right;
    font-size: 33.5px;
}


/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 100%;
    line-height: 1.5;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    clear: both;
}


/* Add padding to containers */

.forgotpassword-container {
    padding-top: 25px;
    padding-right: 40px;
    float: right;
    width: 425px;
    clear: both;
}


/* Set a style for all buttons */

button {
    background-color: #827ffe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
    background-color: #403866;
}

  
  .formdiv {
    background-image: url("/assets/forgot.jpg");
    height: 800px;
    width: 65%;
    background-repeat: round;
    
  }
  
  /* Add styles to the form container */
 /* .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }*/