* {
    box-sizing: border-box;
}
.forgotpassword-title {
    padding-top: 7%;
    padding-right: 10%;
    float: right;
    font-size: 33.5px;
}

input[type=text],
input[type=password] {
    width: 100%;
    line-height: 1.5;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    clear: both;
}

.error{
  display: none;
}
input.ng-invalid.ng-touched{
  border-color: red;
}

input.ng-invalid.ng-touched +.error{
 display: inline; 
 color: red;
}

.forgotpassword-container {
    padding-top: 25px;
    padding-right: 40px;
    float: right;
    width: 425px;
    clear: both;
}

button {
    background-color: #827ffe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
    background-color: #403866;
}

  
  .formdiv {
    background-image: url("/assets/forgot.jpg");
    height: 800px;
    width: 65%;
    background-repeat: round;
    
  }
  