
<div class="forgotpassword-title">
    <p>Forgot Password?</p>
    <h1><p>Don't Worry Just Reset It!</p></h1>
    
</div>

<form>

    <div class="forgotpassword-container">
        <label for="userLogin"><b>Enter Email ID/Phone Number</b></label>
        <input type="text" name="userEmail" placeholder="Enter Email ID Or Phone Number" required>
        <button type="submit" (click)='myFunction()'>Reset Using Email</button>

        <div style="width: 100%; height: 14px; border-bottom: 1px solid black; text-align: center">
            <span style="font-size: 20px; background-color: white">
                OR
            </span>
        </div>
        <br>
        <button type="submit" (click)='myFunction()'>Reset Using Phone Number</button>
        <br>
        <br>


        <div class="otpbtn" *ngIf='bool'>
            <label for="otp"><b>Enter OTP</b></label><br>
            <input type="password" name="otp" placeholder="Enter OTP" minlength="5" maxlength="5" required>
            <button type="submit">Submit OTP</button>
        </div>

    </div>
</form>

<div class="formdiv"></div>