<div *ngIf="showSpinner" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<section class=product-list>
  <h1 class="align-center ">Exclusive Products</h1>
<hr>
  <br>
  
    <div class="search">
      <div>
      <input type="text" class="search" (keyup)='searchByName()' [(ngModel)]="search" placeholder="Search Name">
    </div>
    </div>


  <br>
<hr>
  <br>
  <div class="product-container">
    <div class="card" *ngFor="let p of searchedProducts">
      <div class="title">{{p.productName}} </div><hr>
      <div class="image">
        <img [src]=p.productImageSource alt="{{p.productName}}">
      </div><hr>
      <div class="text">Our Price: ₹ {{p.productPrice}} /-</div>



      <button class="buy-button" (click)="onSelected(p)">
        Buy Now
      </button>

    </div>
  </div>
</section>