<section class=product-list>
    <h1 class="align-center ">Products</h1>
    Search: <input type="text" (keyup)='searchByName()' [(ngModel)]="search" placeholder="Search Name">
 <br>
 <br>
    <div class="product-container">
      <div class="card" *ngFor="let p of searchedProducts" >
          <div class="title">{{p.productName}} </div>
          <div class="image">
            <img [src]=p.productImageSource alt="{{p.productName}}"  >
          </div>
          <div class="text">Our Price: ₹ {{p.productPrice}} /-</div>
         
     
     
          <button class="buy-button" (click)="onSelected(p)">
              Buy Now
          </button>

    </div>  
</div>
</section>