 <div class="profilecard">
<div class="cimage">
<img  src="assets/viewPage.png" style="width: 20%; height: 15%;">
</div>
<div class="content">
<p><b class="lab">FirstName:</b><b class="val pull-right" >{{ customerInfo.customerFirstName }}</b> </p><br>
<p><b class="lab">LastName :</b><b class="val pull-right">{{ customerInfo.customerLastName }}</b></p><br>
<p><b class="lab">Date Of Birth: </b><b class="val pull-right">{{ customerInfo.dateOfBirth }}</b></p><br>
<p><b class="lab">Email :</b><b class="val pull-right">{{ customerInfo.customerEmail}}</b></p><br>
<p><b class="lab">Mobile :</b><b class="val pull-right">{{ customerInfo. customerMobile}}</b></p><br>
<p><b class="lab">Card Type :</b><b class="val pull-right">{{ customerInfo. cardType}}</b></p><br>
<p><b class="lab">Account Number:</b><b  class="val pull-right">{{ customerInfo. accountNumber}}</b></p><br>
<p><b class="lab">IFSC :</b><b class="val pull-right">{{ customerInfo. ifsc}}</b></p><br>
<p><b class="lab">Aadhar:</b><b class="val pull-right">{{ customerInfo.customerAadharCard}}</b></p><br>
<p><b class="lab">Verification:</b><b class="val pull-right">{{ message }}</b></p><br>
<p *ngIf='message=="Rejected"'><b class="lab">Reason:</b><b class="val pull-right">{{ reason }}</b></p><br>
</div> 
</div> 