<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Document</title>
</head>
<body>
    <header class="header-section">
		<a href="homepage.component.html" class="site-logo">
			<img src="assets/logo.jpg" alt="">
        </a>
        <nav class="header-nav">
          <ul class="main-menu">
                    <li><a href="Register.html"><i class="fa fa-fw fa-info-circle"></i>About Us</a></li>
                    <li><a href="index.html" class="active"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li><a href="Register.html"><i class="fa fa-fw fa-user-plus"></i>Register</a></li>
                    <li><a href="Login.html"><i class="fa fa-fw fa-user"></i>Login</a></li>
                    </ul>
                    <ul class="header-right">
                        <li><a href="#"><i class="fa fa-fw fa-search"></i>Have a questions?</a> </li>
                        <li><a href="#"><i class="fa fa-fw fa-address-book"></i> Contact</a></li>
                        <li> <a href="#" > <i class="fa fa-fw fa-envelope"></i>info@lti.com</a> </li>
                    </ul>
                </nav>
            </header>
    
    <div class="hero-image">
        <img  src="assets/3.jpg" class="image1" >
         <div class="hero-text">
          <h1 style="font-size:50px">LTI EMI CARD</h1>
          <p>WORRIED ABOUT PAYING HIGH INTEREST ON YOUR FAVOURITE PRODUCTS</p>
          <p>HERE IS THE SOLUTION</p>
          <button>CLICK ME</button>
          <p>THINK IT.BUY IT.</p>
        </div>
        
      </div>

    
    
       <div class="card">
        <h1 style="text-align: center">Know More About Services</h1>
    </div>
       <div class="row1">
        <div class="column1">
            
            
          <div class="card1">
            
            <img src="assets/products.jpg"  style="width:90%" height="195">
            <div class="container1">
              <h2>PRODUCTS</h2>
              
              <p>READY FOR A EXICITING PRODUCTS TOUR!!!</p>
              
              <p><button class="button1">PRODUCT TOUR</button></p>
            </div>
          </div>
        </div>
       

       
        <div class="column1">
          <div class="card1">
            <img src="assets/cards.jpg"   style="width:100%">
            <div class="container1">
              <h2>CARDS</h2>
              
              <p>READY TO KNOW ABOUT EMI CARDS!!!</p>
              
              <p><button class="button1">CARD INFO TOUR</button></p>
            </div>
          </div>
        </div>
        <div class="column1">
            <div class="card1">
              <img src="assets/schems.jpg"   style="width:100%">
              <div class="container1">
                <h2>SCHEMES</h2>
                
                <p>READY TO KNOW ABOUT EXICITING SCHEMES!!!</p>
                
                <p><button class="button1">SCHEMES TOUR</button></p>
              </div>
            </div>
          </div>
       </div>
       <div class="footer">
        <p>©Larsen & Toubro Infotech Limited</p>
      </div>  
      
</body>
</html>
