

<div class="container">
    <div class="sidebar">

        <header> My Profile</header>
        <ul>
        <li><a (click)="viewProfile()"><i class="fa fa-user-circle-o"></i> View Your Profile</a></li>
        <li><a (click)="viewAllCustomers()"><i class="fa fa-fw fa-user"></i>View All Customers </a></li>
         <li><a  (click)="viewAllPendingCustomers()"><i class="fa fa-fw fa-user-plus"></i> View Pending Customer</a></li>
        <li><a (click)="addNewProduct()"><i class="fa fa-calendar-check-o"></i> Add New Product</a></li>
       
            </ul>
        </div>

        <div class="right" style="background-image: url(assets/bg0.jpg); width: 100%;"  >
            {{display}}

        <div class="right" >
            <!--{{display}}-->

            <router-outlet></router-outlet>
        </div>

    </div>
