
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body{
    margin: 0px;
    padding: 0px;
}

.footer {

    width: 100%;
    left: 0;
    height: 10%;
    overflow: hidden;
    color: white;
    padding-top: 20px;
    text-align: center;
    background: black;
}

.header-section {
   height: 12.9%;
    width: 100%;
    background: black;
   
   
}


.nmn{
    color: wheat;
    font-weight: 600;
     margin-right: 85px; 
    font-size: 18px;
    text-align: center;
}
.site-logo {
    float: left;
    padding: 16px 0;
   width: 50px;
   margin-left: 5px;
}
 .lg{
    width: 75px;
   
} 
.main-menu {
    display: inline;
    padding-right: 40px;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 33px 20px;
    margin-right: 20px;
    margin-left: 15px;
}

.main-menu li a:hover,
.main-menu li a.active {
    color: #f43f00;
}

.header-right {
    float: right;
    padding-right: 10px;
    padding-top: 0px;
}

.header-right li {
    display: inline-block;
}

.header-right li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 35px;
    margin-right: 65px;
    margin-left: 23px;
}

.header-right li a:hover,
.header-right li a.active {
    color: #f43f00;
}

a{
    cursor: pointer;
}

.fafas{
    float: right;
    margin-right: 5%;
}