<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  <div class="header-section">
    <a href="homepage.component.html" class="site-logo">
      <img src="assets/logo.jpg" alt="">
    </a>
    <nav class="header-nav">
      <ul class="main-menu">
        <li><a [routerLink]="['aboutus']"><i class="fa fa-fw fa-info-circle"></i>About Us</a></li>
        <li><a [routerLink]="['']" ><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a [routerLink]="['registerLink']"><i class="fa fa-fw fa-user-plus"></i>Register</a></li>
        <li><a class="dropdown" [routerLink]="['userLoginLink']"><i class="fa fa-fw fa-user"></i>
          Login
        
          
        </a> 
         </li>
      </ul>
      <ul class="header-right">
        <li><a href="#"><i class="fa fa-fw fa-search"></i>Have a question?</a> </li>
        <li><a [routerLink]="['contactUsLink']"><i class="fa fa-fw fa-address-book"></i> Contact</a></li>
        <li> <a href="#"> <i class="fa fa-fw fa-envelope"></i>info@lti.com</a> </li>
      </ul>
    </nav>
  </div>

  <!-- <app-view-transactions></app-view-transactions> -->
  <router-outlet></router-outlet> 
  <!-- <app-cart></app-cart> -->
  <!-- <app-checkout></app-checkout> -->
  <!-- <app-card-details></app-card-details> -->

  <div class="footer">
    <p>©Larsen & Toubro Infotech Limited</p>
  </div>

<!-- <app-forgotpassword></app-forgotpassword> -->
<!-- <app-product-detail></app-product-detail> -->
<!-- <app-admin-login></app-admin-login>  -->
<!-- <app-user-login></app-user-login> -->
<!-- <app-register></app-register> -->

</body>
</html>


