<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>

<body>
  <div class="header-section">
    <a href="homepage.component.html" class="site-logo">
      <img src="assets/logo.jpg" alt="">
    </a>
    <nav class="header-nav">
      <ul class="main-menu">
        
        <li><a [routerLink]="['']"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li *ngIf='!isLogin()'><a [routerLink]="['registerLink']"><i class="fa fa-fw fa-user-plus"></i>Register</a></li>
        <!-- <li><a [routerLink]="['contactUsLink']"><i class="fa fa-fw fa-address-book"></i> Contact</a></li> -->
        <li *ngIf='!isLogin()'><a class="dropdown" [routerLink]="['userLoginLink']"><i class="fa fa-fw fa-user"></i>
            Login
          </a>
        </li>
        <li *ngIf='isLogin()'><a class="dropdown" (click)="navigation()" ><i class="fa fa-fw fa-user"></i>
            DashBoard
          </a>
        </li>
       
      </ul>
      <ul class="header-right">
        <li *ngIf='isLogin()'  class="nmn">Hi {{name}} </li>
        <li><a [routerLink]="['aboutus']"><i class="fa fa-fw fa-info-circle"></i>About Us</a></li>
        <li><a [routerLink]="['contactUsLink']"><i class="fa fa-fw fa-address-book"></i> Contact</a></li>
        
        <li *ngIf='isLogin()'><a class="dropdown" (click)="logout()"><i class="fa fa-fw fa-user"></i>
          LogOut
        </a>
      </li>
      </ul>
    </nav>
  </div>



  <router-outlet></router-outlet>


  <div class="footer">
    <p>©Larsen & Toubro Infotech Limited</p>
  </div>

</body>

</html>