body{
    margin: 0px;
    padding: 0px;
}

.footer {
    
    width: 100%;
    left: 0;
    height: 10%;
    overflow: hidden;
    color: white;
    padding-top: 20px;
    text-align: center;
    background: black;
}

.header-section {
   height: 12.9%;
    width: 100%;
    background: black;
   
}


.nmn{
    color: white;
    font-weight: 600;
     margin-right: 100px; 
    font-size: 20px;
    text-align: center;
}
.site-logo {
    float: left;
    padding: 20px 0;
}

.main-menu {
    display: inline;
    padding-right: 50px;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 33px 5px;
    margin-right: 65px;
}

.main-menu li a:hover,
.main-menu li a.active {
    color: #f43f00;
}

.header-right {
    float: right;
    padding-right: 10px;
    padding-top: 0px;
}

.header-right li {
    display: inline-block;
}

.header-right li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 35px;
    margin-right: 65px;
}

.header-right li a:hover,
.header-right li a.active {
    color: #f43f00;
}

