<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="header-section">
  <a [routerLink]="['']" class="site-logo">
    <img class="lg" src="assets/logo1.jpg" alt="">
  </a>
  <nav class="header-nav">
    <ul class="main-menu">

      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['']"><i class="fa fa-fw fa-home"></i>Home</a></li>
      <li *ngIf='!isLogin()'><a routerLinkActive="active" [routerLink]="['registerLink']"><i
            class="fa fa-fw fa-user-plus"></i>Register</a></li>

      <li *ngIf='!isLogin()'><a routerLinkActive="active" class="dropdown" [routerLink]="['userLoginLink']"><i
            class="fa fa-fw fa-user"></i>Login
        </a>
      </li>
      <li *ngIf='isLogin()'><a routerLinkActive="active" class="dropdown" (click)="navigation()"><i
            class="fa fa-fw fa-user"></i>DashBoard
        </a>
      </li>

    </ul>
    <ul class="header-right">
      <li *ngIf='isLogin()' class="nmn">Hi, {{name}} </li>
      <li><a routerLinkActive="active" [routerLink]="['aboutus']"><i class="fa fa-fw fa-info-circle"></i>About Us</a>
      </li>
      <li><a routerLinkActive="active" [routerLink]="['contactUsLink']"><i
            class="fa fa-fw fa-address-book"></i>Contact</a></li>
      <li><a routerLinkActive="active" [routerLink]="['cartLink']"><i class="fa fa-shopping-cart"></i> Cart</a></li>
      <li *ngIf='isLogin()'><a class="dropdown" (click)="logout()"><i class="fa fa-fw fa-user"></i>LogOut
        </a>
      </li>
    </ul>
  </nav>
</div>


<router-outlet></router-outlet>


<div class="footer">
  ©Easy Credit
  <div class="fafas">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;
    <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;
    <i class="fa fa-github" aria-hidden="true"></i>
  </div>
</div>