    <img src="assets/terms.png" height="350px" width="100%"/>
    <br>
    <br>
    <br>
    <br>
    <h1>Terms and Conditions</h1>
    <div class="row">
        <div class="main">
            <div class="card">
    <details>
        <summary>Fees and Charges</summary>
        <p>1. Enrollment Fees and Transactional Fees</p>
        <p>There are enrollment fees and transactional fees applicable on the Easy Credit.
                  Enrollment fee is a one-time charge and transaction fee is charged on every transaction.
                  These fees may vary from Cardholder to Cardholder, and for different card variants. 
                  These shall be as communicated to the Cardholder at the time of applying for the credit card. 
                  These fees, as applicable, are directly charged to the Cardholder account and the same would be billed in the card statement of the month in which it is charged. 
                  There may be separate fees for Additional Cards issued to the Primary Cardholder.
        </p>
                  
        <p>2.Late Payment Charges</p>
              <p>This will be applicable if Minimum Amount Due is not paid by the payment due date.
                Addational two percent (2%) of the Total Amount will be charged if payment is note made on time. 
              </p>
    </details>
    <div class="gap" style="font-size: 10px;color: white;">
        hi
    </div>
    <details>
        <summary>Limits</summary>
        <p>
            Credit Limit are assigned to Cardholders based on internal Easy Credit criteria. 
            These limits are communicated to the cardholder at the time of card Activation. 
            The Credit Limit are communicated to the Cardholder in every statement. 
            The Available Credit Limit (i.e. the Credit Limit available for use) at the time of the statement generation is provided as a part of the statement. 
            Easy Credit will review the Cardholder account periodically, and increase or decrease the Cardholder credit limit based on internal criteria. 
            Cardholders seeking to have their credit limit increased can do so by writing to Easy Credit and providing financial documents declaring their income. 
            Easy Credit, at it’s sole discretion and based on such new documents provided, may increase the Credit Limit of the Cardholder.
        </p>
    </details>
    <div class="gap" style="font-size: 10px;color: white;">
        hi
    </div>
    <details>
        <summary>Billing</summary>
        <p>
            Easy Credit will send the Cardholder a monthly statement showing the payments credited and the transactions debited to the Cardholder’s Account as shown on dashboard,
            provided the card has been active during the said period.
            Credit Cards offer the Cardholder a revolving credit facility. 
            The Cardholder should choose to pay Amount Due printed on the dashboard and such payment should be sent before the Payment Due Date, which is also printed on your dashboard.
        </p>
    </details>
    <div class="gap" style="font-size: 10px;color: white;">
        hi
    </div>
    <details>
        <summary>Default</summary>
        <p>
            If any person is unable to pay his dues on time then Easy Credit may put that person in defaulters list and if the person name is in defaulters list for continosly four times
            in a row then Easy Credit can terminate the card of the default.
        </p>
    </details>
    <div class="gap" style="font-size: 10px;color: white;">
        hi
    </div>
    <details>
        <summary>Lost/Theft/Missuse of Card</summary>
        <p>
            The Cardholder should contact Easy Credit as soon as possible at the Easy Credit Helpline if the credit card is misplaced, lost, stolen, mutilated, 
            not received when due or if he/she suspects that the credit card is being used without the Cardholder’s permission. 
            Once a card is reported lost, it should not, under any circumstance be used if found by the Cardholder subsequently, 
            and the Cardholder should cut the card diagonally in half.
        </p>
    </details>
    <div class="gap" style="font-size: 10px;color: white;">
        hi
    </div>
    <details>
        <summary>Disclosure</summary>
        <p>
            The Credit Information Company is an initiative of the Government of India and the Reserve Bank of India (RBI) 
            to improve the functionality and stability of the Indian financial system. 
            This is in line with RBI’s efforts to provide an effective mechanism for exchange of information between banks and financial institutions, 
            thereby enabling cardholders to avail of better credit terms from various institutions.
        </p>
    </details>
    <div class="gap" style="font-size: 10px;color: white;">
        hi
    </div>
    <details>
        <summary>Schedule of Charges</summary>
        <p>Fees</p>
        <p>
            Enrollment Fees (One Time):  ₹500 - ₹1000<br>
            Transaction Fees (On every transaction): 2% - 5% of total amount
        </p>
    </details>
    <div class="gap" style="font-size: 10px;color: white;">
        hi
    </div>
    <details>
        <summary>Change in Tax Law</summary>
        <p>
            The Government of India has implemented the Goods and Service Tax (GST) with effect from 1st July’2017. 
            Consequently, the service tax rate of 15% has been replaced by GST rate of 18%.
        </p>
    </details>
    <br>
</div>
</div>
</div>

