<section class="split">
    <div class="screen">
        <div class="card">
            <div class="imgBx">
                <img src="assets/TitaniumImg.png" alt="Titanium Card"> 
            </div>
            <h2>Titanium Card</h2>
            <a href="#">Read More</a>
            <div class="content">
                <div class="imgBx">
                    <img src="assets/TitaniumImg.png" alt="Titanium Card"> 
                </div>
                <h2>Titanium Card</h2>
                <!-- <p>Credit Balance: Rs. 2,00,000/-</p> -->
                <p>A Titanium no-cost EMI Card is the top level of premium EMI credit card available with Easy Credit,
                    As a premium no-cost EMI card, Titanium EMI cards typically come with an extensive rewards program and high credit limits.</p>
                <p>We have designed Titanium EMI Cards with a Initial Credit Balance of Rs.2,00,000s and a transaction fees of 3% which is lower than that provided by Gold EMI Cards.
                </p>
                <p>Moreover The joining fees for the Titanium EMI card is just Rs. 1,000, once you choose to go for Titanium EMI card go to Register Page and 
                    enter valid details, choose Titanium EMI card while registering and you'll be asked to pay the joining fees of Rs.1,000 once, on submission
                    your documents will be cross verified and on successful Verification you'll be given the Titanium EMI Card Privailages in 2-3 working days.
                </p>
                <p>When you Purchase a product, you'll be able to pay the EMI's once each month stating form the next month of purchasing the product.
                    The EMI payable cycle starts from 2nd of each month and ends on 1st, 12:00 am of the next month, on failing to pay the EMI in it's 
                    respected month cycle it'll be added with the next month EMI along with a 2% late fee charge. 
                    Other than this there is no interest on the EMI's for any product with this card.
                </p>
            </div>
        </div>
    </div>
    <div class="screen">
        <div class="card">
            <div class="imgBx">
                <img src="assets/gold.jpg" alt="Gold Card"> 
            </div>
            <h2>Gold Card</h2>
            <a href="#">Read More</a>
                <div class="content">
                    <div class="imgBx">
                        <img src="assets/gold.jpg" alt="Gold Card"> 
                    </div>
                    <h2>Gold Card</h2>
                    <!-- <p>Credit Balance: Rs. 1,00,000/-</p> -->
                    <p>A Gold no-cost EMI Card is the top level of Gold EMI credit card available with Easy Credit, second to Titanium  EMI Credit cards when these are available.
                        As a standard no-cost EMI card, Gold EMI cards typically come with likable reward programs and medium credit limits.</p>
                    <p>We have designed Gold EMI Cards with an Initial Credit Balance of Rs.1,00,000 and a transaction fees of 5%.</p>
                    <p>Moreover the joining fees for the Gold EMI card is just Rs. 500,and it is to be paid only once during Registration,
                        choose Gold EMI card while registering and you'll be asked to pay the joining fees once, on submission your documents will be cross verified and on successful Verification you'll be given the Gold EMI Card Privailages in 2-3 working days.
                    </p>
                    <p>When you Purchase a product, you'll be able to pay the EMI's once each month stating form the next month of purchasing the product.
                        The EMI payable cycle starts from 2nd of each month and ends on 1st, 12:00 am of the next month, on failing to pay the EMI in it's 
                        respected month cycle it'll be added with the next month EMI along with a 2% late fee charge. 
                        Other than this there is no interest on the EMI's for any product with this card.
                    </p>
                </div>
        </div>
    </div>
</section>