<div class="container">
    <div class="price">
        <h1>Awesome, that's <span>₹</span>56700 !</h1>
    </div>
    <form #checkoutForm='ngForm' (ngSubmit)='checkoutFunction(checkoutForm)'>
        <div class="card__container">
            <div class="card">

                <div class="row paypal">
                    <div class="left">
                        <!-- <input id="pp" type="radio" name="payment" /> -->
                        <div class="radio"></div>
                        <label for="pp"> Select EMI Tenure </label>
                        <select id="emiTenure" name="emiTenure" ngModel required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="left">
                        <!-- <input id="pp" type="radio" name="payment" /> -->
                        <div class="radio"></div>
                        <label for="pp">Shipping Address</label>
                        <input type="text" name="shippingAddress" id="shippingAddress" placeholder="Address" ngModel
                            required>
                    </div>
                </div>
                <div class="row credit">
                    <div class="left">
                        <!-- <input id="cd" type="radio" name="payment" /> -->
                        <div class="radio"></div>
                        <label for="cd">Debit/ Credit Card</label>
                    </div>
                    <div class="right">
                        <img src="assets/visa.jpg" alt="visa" />
                        <img src="assets/masterCard.jpg" alt="mastercard" />
                        <img src="assets/amex.jpg" alt="amex" />
                        <img src="assets/maestro.png" alt="maestro" />
                    </div>
                </div>
                <div class="row cardholder">
                    <div class="info">
                        <label for="cardholdername">Name</label>
                        <input placeholder="e.g. Richard Bovell" id="cardholdername" type="text" name="cardHolderName"
                            ngModel required />
                    </div>
                </div>
                <div class="row number">
                    <div class="info">
                        <label for="cardnumber">Card number</label>
                        <input type="text" placeholder="8888 8888 8888 8888" name="userAccount" id="cardnumber"
                            (keypress)='isNumber($event,"cardnumber",18)' (keyup)='manageCard("cardnumber")' value=""
                            minlength="19" name="cardNumber" ngModel required>
                    </div>
                </div>
                <div class="row details">
                    <div class="left">
                        <label for="expiry-date">Expiry</label>
                        <select id="expiry-date" name="expiryMonth" ngModel required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span>/</span>
                        <select id="expiry-date" name="expiryYear" ngModel required>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                        </select>
                    </div>
                    <div class="right">
                        <label for="cvv">CVC/CVV</label>
                        <input type="text" minlength="3" placeholder="123" id="cvv" name="cvv"
                            (keypress)='isNumber($event,"cvv",2)' ngModel required />
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <button type="submit" [disabled]='!checkoutForm.valid'>Confirm and Pay</button>
        </div>
    </form>
</div>