*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
  background-image: url("/assets/2.jpg"); 
  width: 105%;
}

#cardholdername{
  padding-left: 30px;
  margin-left: 30px;
  width: 300px;
}

#shippingAddress{
  width: 250px;
}

.wrapper{
  background-color: #242852;
  max-width: 600px;
  margin: 80px auto;
  height: auto;
  padding-top: 10px;
  border-radius: 5px;
  position: relative;
}

.wrapper h1{
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 25px;
  color: aqua;
  font-weight: 400;
}

.form .labelbox{
  margin-left: 20px;
  display: inline;
  color: aliceblue;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.input1, select, #cvv{
  margin-left: 20px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(49, 48, 48);
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
  height: 50px;
}

option{
  color: black;
}

#expiry-year{
  margin-left: -3px;
  width: 60px;
  color: aliceblue;
}

button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  background-color: #18C2C0;
  border: none;
  color: #fff;
  padding: 18px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
 button:hover {
  background-color: #15aeac;
}
 button:active {
  background-color: #139b99;
 }

 button:disabled{
   cursor: not-allowed;
 }

#expiry-month{
  width: 40px;
  color: aliceblue;
}

.card span{
  margin-left: 5px;
  color: aliceblue;
}

#cvv{
  margin-left: 20px;
  width: 30px;
}

#cvvlabel{
  padding-left: 90px;
}

img{
  width: 42px;
  height: 30px;
  margin-left: 10px;
  float: right;
  margin-right: 10px;
}
.error{
  display: none;
}
input.ng-invalid.ng-touched{
  border-color: red;
}

input.ng-invalid.ng-touched +.error{
 display: inline; 
 color: red;
}

