<div class="contain">

    <img src="assets/1.jpg" style="width:100%; height: 500%;">

    <div class="content">

        <h2>Register With Us To Avail All The Exciting Services</h2>
        <form #registerForm='ngForm' (ngSubmit)='registerUser(registerForm)'>
            <div class="col-25">
                <label for="userFirstName">First Name *</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="First-Name" name="userFirstName" (keypress)='isAName($event)'
                    [(ngModel)]="user.userFirstName" required>
                <span class="error">First Name Required</span>
            </div>

            <div class="col-25">
                <label for="userLastName">Last Name</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Last-Name" name="userLastName" (keypress)='isAName($event)'
                    [(ngModel)]="user.userLastName">
            </div>

            <div class=" col-25">
                <label for="dob">Date Of Birth *</label>
            </div>
            <div class="col-75">
                <input type="date" name="dob" [(ngModel)]="user.userDob" required>
                <span class="error">Choose Your Correct Birth Details</span>
            </div>

            <div class="col-25">
                <label for="userEmail">Email *</label>
            </div>
            <div class="col-75">
                <input type="email" name="userEmail" [(ngModel)]="user.userEmail"
                    pattern="^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{1,3})+$" placeholder="Email" required>
                <span class="error">Oops!! Invalid Email Address</span>
            </div>

            <div class="col-25">
                <label for="userMobile"> Mobile *</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Mobile" name="userMobile" id="userMobile"
                    (keypress)='isNumber($event,"userMobile",10)' (keyup)='manageMobile()' value="" minlength="11"
                    [(ngModel)]="user.userMobile" required>
                <span class="error">Oops!! Invalid Mobile Number</span>
            </div>


            <div class="col-25">
                <label for="password" mat-raised-button matTooltipClass="mattp" matTooltipPosition="above"
                    matTooltip="Choose a combination of a small,capital Alphabets, a Number and a special Symbol (! @ # $ % ^ & *)">Password
                    *</label>
            </div>
            <div class="col-75">
                <input type="password" name="password" placeholder="Password" [(ngModel)]="user.userPassword"
                    minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,15}$" required
                    mat-raised-button matTooltipClass="mattp" matTooltipPosition="above"
                    matTooltip="Choose a combination of a small,capital Alphabets, a Number and a special Symbol (! @ # $ % ^ & *)">
                <span class="error">Oops!! Your Password is not Strong Enough</span>

            </div>



            <div class="col-25">
                <label for="confirmPassword">Confirm Password:</label>
            </div>
            <div class="col-75">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
                    [(ngModel)]='confirmPass' required>
                <span *ngIf='!confirmPassword()' style="color: red;">Oops!! Password mismatch</span>
            </div>

            <div class="col-25">
                <label for="userAccount">Account Number</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Account Number" name="userAccount" id="userAccount"
                    (keypress)='isNumber($event,"userAccount",18)' (keyup)='manageAccount()' value="" minlength="11"
                    [(ngModel)]="user.accountNo" required>
                <span class="error">Oops!! Invalid Account Number</span>
            </div>

            <div class="col-25">
                <label for="ifsc" mat-raised-button matTooltipClass="mattp"
                    matTooltip="First 4 characters must be Capital">IFSC
                    Code:</label>
            </div>
            <div class="col-75">
                <input type="text" name="ifsc" id="ifsc" placeholder="IFSC Code" pattern="^[A-Z]{4}[0-9]{7}$"
                    [(ngModel)]="user.ifsc" maxlength="11" required mat-raised-button
                    matTooltip="First 4 characters must be Capital" matTooltipClass="mattp">
                <span class="error">Oops!! Invalid IFSC Code</span>
            </div>

            <div class="col-25">
                <label for="userAadhar">Aadhar Number:</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Aadhar Card Number" name="userAadhar" id="userAadhar"
                    (keypress)='isNumber($event,"userAadhar",13)' (keyup)='manageAadharCard()' value="" minlength="14"
                    [(ngModel)]="user.userAadharCard" required>
                <span class=" error">Oops!! Invalid Aadhar Number</span>
            </div>

            <div class="col-25">
                <label for="cardType">Card Type:</label>
            </div>
            <div class="col-75">
                <input type="radio" id="Gold" name="cardType" value="Gold" class="cardType" [(ngModel)]="user.cardType"
                    required> <span class="cardType" mat-raised-button matTooltipPosition="above" matTooltipClass="mattp"
                    matTooltip="One Lakh Credit ">Gold</span>

                <input type="radio" id="Titanium" name="cardType" value="Titanium" class="cardType"
                    [(ngModel)]="user.cardType" required checked> <span class="cardType" mat-raised-button
                    matTooltipClass="mattp" matTooltipPosition="above" matTooltip="Two Lakh Credit ">Titanium</span>
                <span class=" error">Please Select Card of your Choice</span>
            </div>

            <div>
                <button type="reset" class="btnn" id="resetBtnn">Reset</button>
                <button type="submit" class="btnn"
                    [disabled]='!registerForm.valid || !confirmPassword()'>Register</button>
            </div>


        </form>
    </div>
</div>