body{
  background-image: url(/assets/resetpass.jpg);
  background-repeat: no-repeat;
}

#resetPassword{
  font-size: 16px;
  float: left;
  padding-left: 36%;
}

h1{
  padding-left: 100px;
}

label{
  padding-top: 9px;
  float: left;
  font-size: 17px;
}

#Btnn{
  text-align: center;
  padding: 15px 32px;
  font-size: 16px;
  margin-left: 120px;
  border-radius: 25px;
}

#password{
  
  float: left;
  margin-left: 150px;
  border-radius: 5px;
}

input{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 30px;
}

#confirmPassword{
  
  float: left;
  margin-left: 90px;
  border-radius: 5px;
}

#Btnn:hover{
  background-color: #1a73e8;
  color: white;
}

.error{
    display: none;
    float: right;
  }
  input.ng-invalid.ng-touched{
    border-color: red;
  }
  
  input.ng-invalid.ng-touched +.error{
   display: inline; 
   color: red;
  }

  .mattp {
    font-size: 15px;
    background: #b71c1c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
  }

  #Btnn:disabled{
    cursor: not-allowed;
  }