.error{
    display: none;
  }
  input.ng-invalid.ng-touched{
    border-color: red;
  }
  
  input.ng-invalid.ng-touched +.error{
   display: inline; 
   color: red;
  }

  .mattp {
    font-size: 15px;
    background: #b71c1c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
  }

  #Btnn:disabled{
    cursor: not-allowed;
  }