<body>
<div id="resetPassword">
    <div *ngIf="showSpinner" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form #resetForm='ngForm' id="reset" (ngSubmit)="resetPassword()">
        <br>
        <br>
        <br>
        <h1><b><u>Reset Your Password</u></b></h1>
        <br>
        <br>
        <br>
        <label for="password" mat-raised-button matTooltipClass="mattp" matTooltipPosition="above"
            matTooltip="Choose a combination of a small,capital Alphabets, a Number and a special Symbol (! @ # $ % ^ & *)">Password* - 
        </label>
        <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="customerInfo.customerPassword"
            minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,15}$" required
            mat-raised-button matTooltipClass="mattp" matTooltipPosition="above"
            matTooltip="Choose a combination of a small,capital Alphabets, a Number and a special Symbol (! @ # $ % ^ & *)">
        <span class="error">Oops!! Password is not Strong </span><br><br>
        <br>
        <label for="confirmPassword">Confirm Password - </label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
            [(ngModel)]='confirmPass' required>
        <span *ngIf='!confirmPassword()' style="color: red;">Oops!! Password mismatch</span><br><br><br>
        <button type="submit" class="btnn" id="Btnn" [disabled]='!resetForm.valid || !confirmPassword()'>Change Password</button>
            <br>
            <br>
            <br>
            <br>

    </form>
</div>
</body>