
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" placeholder="Email" type="text" name="email">
						<span class="focus-input100"></span>
						
					</div>
					
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" placeholder="Password" type="password" name="pass">
						<span class="focus-input100"></span>
						
					</div>

					
						 <div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me<a href="#" class="txt1">
                                    Forgot Password?
                                </a>
                            </label>
                            
						</div> 

						
							
                        <br>
                        <br>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
					

					
				</form>

				<div class="login100-more" style="background-image: url('assets/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
