
    <h1>Login As User</h1>
    <div class="contain">
        <img src="assets/2.jpg"  style="width:100%; height: 500%;" >
        
        <div class="content1">

            <form class="container-log ">

                
                <h1>Login</h1>
                
                
                <label  for="email" ><b>Email</b></label>
                <input type="email" name="userEmail" ngModel pattern="^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{1,3})+$"
                placeholder="Email" required>
            
                <label for="psw"><b>Password</b></label>
                <input class="in-log" type="password" placeholder="Enter Password" name="psw" required>
            
                <button type="submit" class="btn">Login</button>

                   
            </form>
        </div>
        </div>