#addNewProduct{
    font-size: 16px;
    float: left;
    padding-left: 32%;
}

label{
    
    float: left;
}

input{
    
    float: right;
    margin-left: 40px;
    border-radius: 5px;
}
button :hover{
    color: green;
}
