<div class="container">
    <div class="wrapper">
        <div class="payment">
            <div class="form">
                <form>


                    <div class="card">
                        <label class="labelbox">Enter Debit Card Details</label>
                        <img src="assets/Maestro.png" alt="maestro" />
                        <img src="assets/amex.jpg" alt="amex" />
                        <img src="assets/masterCard.jpg" alt="mastercard" />
                        <img src="assets/visa.jpg" alt="visa" />

                    </div>

                    <div class="card">
                        <label class="labelbox">Card number</label>
                        <input type="text" class="input1" placeholder="8888 8888 8888 8888" name="userAccount"
                            id="cardnumber" value="" minlength="19" name="cardNumber" required>
                    </div>

                    <div class="card">
                        <label class="labelbox">Expiry</label>
                        <select id="expiry-month" name="expiryMonth" required>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span>/</span>
                        <select id="expiry-year" name="expiryYear" required>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                        </select>

                        <label id="cvvlabel" class="labelbox">CVC/CVV</label>
                        <input type="text" minlength="3" placeholder="123" id="cvv" name="cvv" required />
                    </div>

                    <div class="card">
                        <label class="labelbox">Name</label>
                        <input placeholder="e.g. Richard Bovell" id="cardholdername" type="text" name="cardHolderName"
                            required class="input1" />
                    </div>

                    <button type="submit">Confirm and Pay</button>
                </form>
            </div>
        </div>
    </div>
</div>