
 <div>
<div class="hero-image" >
  <img src="assets/abs1.jpg" class="image1">
  
  <div class="hero-text">
    <h1 style="font-size:50px" >ABOUT US</h1>
    <p> Easy Credit is a a global technology solutions which is 
      helping many people all over world to deal with interest problems. With operations 
      in 32 countries, we go the extra mile for our clients and accelerate their wishes for buying 
    various products without paying interest on emi.
    </p>
 
  </div>
</div>
</div> 

<div class="serv">
  <h1>Our Services</h1>
<div class="container">
 
<div class="box">
  <div class="icon">01</div>
<div class class="content">
  <h3><b>EMI Card</b></h3>
<p>We provide with emi cards through which you shop without using any credit or debit card</p>

</div>

</div>
<div class="box">
  <div class="icon">02</div>
<div class class="content">
  <h3><b>Products</b></h3>
<p>Here Not Just EMI Card But We Also Provide You With Products That You Can Buy.One
  Step Solutions For All Your Problems.
</p>

</div>

</div>
<div class="box">
  <div class="icon">03</div>
<div class class="content">
  <h3><b>No Cost EMI</b></h3>
<p>Here You Need Not To Pay Any Interest On Products That You Buy.So 
  Now No Worries Just Think It And Buy It Here.
</p>

</div>

</div>

</div>

</div>

<div class="wrapper">
  <h1>Our Team</h1>
  <div class="team">
    <div class="team_member">
      <div class="team_img">
        <img src="assets/10670576.jpg" alt="Team_image">
      </div>
      <h3>Sagar Kalra</h3>
      <p class="role">Founder</p>
      <p>The founder of Easy Credit</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="assets/10670514.jpg" alt="Team_image">
      </div>
      <h3>Krishna Vats</h3>
      <p class="role">Co-Founder</p>
      <p>The Co-founder of Easy Credit</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="assets/10670454.jpg" alt="Team_image">
      </div>
      <h3>Shivam Saini</h3>
      <p class="role">Co-Founder</p>
      <p>The Co-founder of Easy Credit</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="assets/10670502.jpg" alt="Team_image">
      </div>
      <h3>Sakshi Dhasmana</h3>
      <p class="role">Co-Founder</p>
      <p>The Co-founder of Easy Credit</p>
    </div>
  </div>
</div>	











