<form (ngSubmit)="calculateStatistics()">
    <div>
        <select name="dates" id="dates" [(ngModel)]='selected' required>
            <option value="30"> Last 30 Days</option>
            <option value="60"> Last 60 Days</option>
            <option value="90"> last 90 Days</option>
            <option value="custom">Custom</option>
        </select>
    </div>

    <div *ngIf='selected=="custom"'>
        From <input type="date" name="date1" [(ngModel)]='statisticsDate.from' required><span> </span>
        To <input type="date" name="date2" [(ngModel)]='statisticsDate.to' required>
    </div>
    <br>
    <button type="submit" id="submitbtn">Get Statistics</button>
    <h1>{{invalidInputs}}</h1>
</form>

<div *ngIf='valueReterieved'>
    <table style="width: 90%" align="center" id="statistics">
        <tr>
            <th>Total No Of Registrations</th>
            <th>Joining Fees</th>
            <th>Processing Fees</th>
            <th>Total Profit</th>
        </tr>
        <tr>
            <td>{{statistics.registrations}}</td>
            <td>{{statistics.joiningFees}}</td>
            <td>{{statistics.processingFees}}</td>
            <td>{{statistics.totalProfit}}</td>
        </tr>
    </table>
</div>